/* variables */
:root {
  --bg-prime: #fff;
  --color-secundary:#f6f6f6;
}
/* etiquetas */
body {
  background-color: var( --color-secundary);
  padding: 10px 25px 10px 25px;

}

/* clases */
/*******************NAVBAR******************************/
.logo_header {
  width: 35px;
}

.adidas_navbar {
  background-color: rgba(255, 255, 255, 0) !important;
}
.body_element {
  background-color: var(--bg-prime);
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  border:1px solid black;
 
}

.logo_nav {
  padding-left: 2rem;
}
.anchor_logo {
  padding-top: 0 !important;
}
.menu_nav_container{
    margin-left:10px;
}
.menu_nav {
  ul {
    li {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.form-control {
  border: 1px solid;
  border-right: 0px solid;
  border-color: #33333389 !important;
  border-radius: 20px 0 0 20px;
  margin-right: 0px;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25) !important;
  background-color: #f6f6f6;
  &:focus {
    background-color: #f6f6f6;
  }
}
.search_icon_box {
  background-color: #f6f6f6;
  border: 1px solid;
  border-left: 0px solid;
  border-color: #33333389;
  border-radius: 0px 20px 20px 0px;
  margin-left: 0;
  padding-right: 10px;
  margin-right: 5px;
}
.nav_btn {
  border-radius: 20px !important;
}
/*************************CONTAINER*********************************/
.container {
  padding: 25px !important;
}

.profile_frame {
  width: 250px;
  height: 250px;
  border-radius: 400px;
  overflow: hidden;
}
.profile_img {
  height: 250px;
  object-fit: cover; /* llena el contenedor sin deformarse */
  object-position: center; /* centra la imagen dentro del marco */
}

.project_box{
    border-radius: 10px;
    border: 2px solid color-mix(in srgb, var(--color-secundary) 90%, black);
    padding:15px;
    img{
        height: 150px;
    }
    cursor: pointer;
}
/*********************************************/